//......Header of Page.......//

//navBar on Header
.header-navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.5rem;

    //    Logo on Header
    #logo {
        display: flex;
        align-items: center;

        // Logo Title
        .logo-tt {
            width: 41px;
            height: 41px;
            border-radius: 50%;
            background-color: $back-color-btn-blue;
            color: $txt-color-wht;
            font: normal 700 1.625rem/32.63px $font;
            padding-top: 5px;
        }

        // Logo Title Explain
        .logo-explain {
            font: normal 700 1.5rem/30px $font;
            padding-left: 0.5rem !important;
        }
    }

    //  Navigation Menu on Header
    .nav-menu {
        display: flex;

        // Navigation List
        & li {
            list-style: none;
            padding: 14px 2.5rem 0px 0px;

            a {
                @extend .headerNav-txt-size;
                color: $txt-color-gry;

                &:focus {
                    color: $txt-color-blck;
                    font-weight: 700;
                }
            }
        }

    }


}

//......Vitual HealtCare of Page....//
#virtual-health {
    padding-top: 5.25rem;


    // Content of Virtual HealtCare in Left  
    .virtual-layout-left {
        padding-top: 4.5rem;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        //  Virtual HealtCare Title 
        .virtual-tt {
            @extend .h1-size;
            width: 70%;
        }

        //  Virtual HealtCare Description
        .virtual-description {
            width: 70%;
            @extend .h4-size-max;
        }

        //  Virtual HealtCare Button Error
        .virtual-btn {
            @include button;
            background-color: $back-color-btn-blue;
            transition: 0.5s;

            // margin-top: 3rem -3px !important;
            a {
                color: $txt-color-wht;
            }

            // // Virtual Button Hover
            &:hover {
                background-color: transparent;
                color: $txt-color-blue;
            }



        }

    }

}

// ........Services Section of Image...//
#services {
    padding-top: 12rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // align-content: center;

    //Content of Services
    .services-content {
        text-align: center;

        // Title of Services
        .services-tt {
            @extend .h2-size-max;
        }

        // <!-- Line under title of Services -->
        hr {
            width: 56px;
            margin-left: 38rem;

        }

        // Description of Services
        .services-desc {
            @extend .h6-size-med;

        }

    }


}

// Services Cards
.services-cards {

    //    Card in Services
    .card-service {
        border-radius: 20px;
        padding-top: 3.5rem;
        box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
        margin-top: 2rem;
       background-color: aqua;
        

        //   Card Image in Services 
        img {
            margin-right: 16rem;
        }

        //   Card Title in Services 
        h5 {
            margin-top: 1rem;
            @extend .card-tt-size;
        }

        //   Card Content in Services 
        p {
            @extend .h6-size-max;
        }
        
    }
}

// Services Footer 
& .services-footer {
    @include button;
    text-align: center;
    margin-top: 3rem;
}